@use '../../../assets/styles/colors';

.Staffs {
  background-color: colors.$color-white;
  min-height: calc(100vh - 197px);
  padding: 40px 50px;

  &__title {
    font-size: 1.75em;
    font-weight: bolder;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;

    &-form {
      position: relative;
      border: 1px solid colors.$color-border-line;
      border-radius: 8px;

      &--search-icon {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        color: colors.$color-grey;
        cursor: pointer;
      }

      &--input {
        height: 44px;
        width: 270px;
        padding: 10px 50px;
        font-size: 14px;
        border: none;
        border-radius: 8px;
        color: colors.$color-dark-purple;
        outline: none;
      }
    }

    &-link {
      display: flex;
      align-items: center;
      color: colors.$color-white;
      background-color: colors.$color-dark-blue;
      border: none;
      text-decoration: none;
      border-radius: 8px;
      font-size: 0.875em;
      padding: 12px 24px;

      &--text {
        padding: 0 8px;
      }
    }
  }

  &__content {
    padding: 10px 0;
  }
}
