@use '../../assets/styles/colors';

.Password-input-field {
  position: relative;
  padding-bottom: 10px;

  &__input {
    height: 45px;
    width: 100%;
    padding: 15px;
    font-size: 14px;
    background-color: inherit;
    border: 1px solid colors.$color-grey;
    border-radius: 8px;
    color: colors.$color-dark-purple;
    outline: none;
  }

  &__toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: colors.$color-dark-purple;
  }
}
