@use '../../assets/styles/colors';
@use '../../assets/styles/fonts';

.Change-password {
  height: calc(100vh - 70px);
  background-color: colors.$color-background;
  display: flex;
  justify-content: center;
  align-items: center;

  &__card {
    background-color: colors.$color-white;
    box-shadow: 0 4px 58px 18px rgba(2, 59, 111, 0.03);
    border-radius: 8px;
    padding: 30px 20px;
    margin: 0 auto;
    width: 35%;

    &-title {
      color: colors.$color-dark-purple;
      font-family: fonts.$font-regular;
      font-size: 1.2em;
    }

    &-content {
      font-size: 1em;
      color: colors.$color-grey-text;
      padding: 15px 0;
    }

    &-form {
      &-input {
        padding: 10px 0;

        &-label {
          color: colors.$color-dark-purple;
          font-size: 1em;
          line-height: 22px;
          font-weight: bold;
          padding-bottom: 10px;

          &--field {
            border: 1px solid colors.$color-border-line;
          }
        }
      }

      &-btn {
        width: 100%;
        background-color: colors.$color-dark-purple;
        color: colors.$color-white;
        border-radius: 8px;
        border: none;
        padding: 10px 15px;
        font-size: 1em;
      }

      &-footer {
        padding: 25px 0 15px 0;
        text-align: center;

        &-link {
          color: colors.$color-dark-purple;
          text-transform: capitalize;
          font-size: 0.875em;
          text-decoration: underline;
          font-weight: bold;
        }
      }
    }
  }
}
