@use '../../../../assets/styles/colors';
@use '../../../../assets/styles/fonts';

.Player-summary {

}

.Heat-map {
  &__title {
    padding: 10px 0;
    color: colors.$color-dark-purple;
    font-size: 0.875em;
  }

  &__wrapper {
    display: flex;
    justify-content: space-around;

    &-field {
      padding: 0 20px;

      &-chart {
        width: 100%;
        height: 100%;
        border: 1px solid colors.$color-border-line;
        background-color: #3C8031;
      }
    }
  }
}

.Statistics {
  &__title {
    padding: 10px 0;
    color: colors.$color-dark-purple;
    font-size: 0.875em;
    margin-bottom: 15px;
  }

  &__wrapper {
    &-tab {
      &-category {
        padding: 0 12px;
        min-width: 120px;
        margin-right: 2px;
        height: 30px;

        &:first-child {
          border-top-left-radius: 4px;
        }

        &:last-child {
          border-top-right-radius: 4px;
        }
      }
    }
  }
}
