@use '../../assets/styles/colors';

.Tab-button {
  text-align: center;
  padding: 0 12px;
  min-width: 120px;
  height: 40px;
  margin-right: 2px;
  text-transform: capitalize;
  border: none;
  background-color: colors.$light-background;
  color: colors.$color-dark-purple;
  font-weight: bolder;
  cursor: pointer;

  &--active {
    background-color: colors.$color-white;
  }
}
