@use '../../assets/styles/colors';
@use '../../assets/styles/fonts';

.button {
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  background-color: colors.$color-dark-blue;
  color: colors.$color-white;
  border-radius: 5px;
  font-family: fonts.$font-light;

  &__disabled {
    cursor: not-allowed;
    background-color: colors.$color-dark-blue-shadow;
  }
}
