@use '../../../../assets/styles/colors';
@use '../../../../assets/styles/mixins';

.Add-staff {
  background-color: colors.$color-white;
  min-height: calc(100vh - 197px);
  padding: 40px 50px;

  @include mixins.mobile {
    padding: 10px;
  }

  &__header {
    &-title {
      color: colors.$color-dark;
      font-size: 1.085em;
      font-weight: 700;
      line-height: 1.48em;
    }
    &-sub-title {
      color: colors.$color-text;
      font-size: 0.813em;
      line-height: 1.184em;
      font-weight: 400;
    }
  }

  &__Multi-step {
    margin-top: 20px;

    .Stepper {
      display: none;
    }

    &--spinner {
      float: right;
    }
  }
}
