@use '../../assets/styles/colors';
@use '../../assets/styles/fonts';
@import 'react-big-calendar/lib/sass/styles';

.rbc-toolbar button.rbc-active, .rbc-toolbar button:focus, .rbc-toolbar button.rbc-active:focus {
  background-color: colors.$color-dark-blue;
  color: colors.$color-white;
  border-color: transparent;

  &:hover {
    background-color: colors.$color-dark-blue;
    color: colors.$color-white;
  }
}

.rbc-agenda-table {
  border: 0.87px solid colors.$color-grey;
}

.rbc-btn-group {
  button {
    cursor: pointer;

    &:hover {
      background-color: colors.$color-dark-blue;
      color: colors.$color-white;
    }
  }
}

.Events-view {
  .rbc-agenda-view {
    background-color: colors.$color-white;
  }

  &__header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin: 45px 0;

    &-card {
      background-color: colors.$color-white;
      padding: 24px;
      height: 165px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &-title {
        color: colors.$color-dark-blue;
      }

      &-value {
        font-size: 2.25em;
        color: colors.$color-dark-blue;
        font-family: fonts.$font-bold;
      }

      &-info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-metric {
          display: flex;
          align-items: center;
          font-size: 0.875em;
          color: colors.$color-dark-blue;

          &--value {
            display: flex;
            align-items: center;
            &-up {
              color: colors.$color-green;
            }

            &-down {
              color: colors.$color-red;
            }
          }

          &--text {
            padding: 0 6px;
          }
        }

        &-media {
          &--icon {
            font-size: 3.5em !important;

            &-up {
              color: colors.$color-green;
            }

            &-down {
              color: colors.$color-red;
            }
          }
        }
      }
    }
  }
}
