@use '../../assets/styles/colors';
@use '../../assets/styles/fonts';
@use '../../assets/styles/mixins';
@import 'react-big-calendar/lib/sass/styles';

.rbc-toolbar button.rbc-active, .rbc-toolbar button:focus, .rbc-toolbar button.rbc-active:focus {
  background-color: colors.$color-dark-blue;
  color: colors.$color-white;
  border-color: transparent;

  &:hover {
    background-color: colors.$color-dark-blue;
    color: colors.$color-white;
  }
}

.rbc-agenda-table {
  border: 0.87px solid colors.$color-grey;
}

.rbc-btn-group {
  button {
    cursor: pointer;

    &:hover {
      background-color: colors.$color-dark-blue;
      color: colors.$color-white;
    }
  }
}

.Events-view {

  @include mixins.mobile {
    padding-bottom: 40px;
  }

  .rbc-agenda-view {
    background-color: colors.$color-white;
  }

  &__header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin: 45px 0;

    @include mixins.mobile {
      grid-template-columns: 1fr;
      gap: 10px;
    }

    &-card {
      background-color: colors.$color-white;
      padding: 24px;
      height: 165px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &-title {
        color: colors.$color-dark-blue;
      }

      &-value {
        font-size: 2.25em;
        color: colors.$color-dark-blue;
        font-family: fonts.$font-bold;
      }
    }
  }
}
