@use '../../assets/styles/colors';
@use '../../assets/styles/fonts';

@keyframes showStatus {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.Single-player-view {
  padding: 40px 50px;
  min-height: calc(100vh - 197px);
  background-color: colors.$color-white;

  &__header {
    display: flex;
    align-items: center;
    padding-bottom: 15px;

    &-media {
      height: 105px;
      width: 105px;
      margin-right: 10px;
      border-radius: 100%;
      background-color: colors.$color-border-line;
      display: grid;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      &-img {
        max-width: 100%;
        height: auto;
        margin-bottom: -10px;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      color: colors.$color-dark-purple;

      &--firstname {
        font-size: 1.22em;
      }

      &--lastname {
        font-size: 1.829em;
        font-weight: 700;
      }

      &--team {
        display: flex;
        align-items: center;

        &-text {
          font-size: 0.821em;
          padding: 0 3px;
          color: colors.$color-grey
        }
      }
    }
  }

  &__sections {
    margin: 40px 0;

    &-bio {
      padding: 25px 15px;
      margin: 20px 0;
      border: 1px solid colors.$color-border-line;
      border-radius: 5px;

      &-title {
        font-size: 1.5em;
        font-weight: 700;
        padding-bottom: 15px;
        color: colors.$color-dark-purple;
      }

      &-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        row-gap: 20px;

        &-input {
          color: colors.$color-text;

          &--label {
            padding-bottom: 10px;
            font-size: 0.875em;

            &-datepicker {
              border: 1px solid colors.$color-grey;

              .MuiOutlinedInput-root {
                height: 45px;
                width: 100%;
                border-radius: 8px;
                color: colors.$color-dark-purple;
                font-size: 0.875em;

                &:hover {
                  .MuiOutlinedInput-notchedOutline {
                    outline: none;
                    border: 1px solid colors.$color-grey;
                  }
                }
              }
            }
          }

          &--select {
            height: 45px;
            width: 100%;
            padding: 10px 15px;
            font-size: 14px;
            background-color: inherit;
            border: 1px solid colors.$color-grey;
            border-radius: 8px;
            color: colors.$color-dark-purple;
            outline: none;
          }

          &--checkbox {
            display: flex;
            align-items: center;

            &-input {
              position: relative;
              display: inline-block;
              width: 25px;
              height: 25px;
              border-radius: 4px;
              cursor: pointer;
              transition: .4s;
            }

            &-label {
              cursor: pointer;
              padding: 0 5px;
            }
          }
        }
      }
    }
  }

  &__status {
    animation: showStatus 1s ease-in-out forwards;
    color: colors.$color-green;
    font-family: fonts.$font-bold;
    padding: 10px 0;
  }
}
