@use '../../assets/styles/colors.scss';

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  z-index: 4;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    border: none;
    z-index: 1;

    &--disabled {
      cursor: default;
    }
  }

  &__wrapper {
    max-height: 90%;
    display: flex;
    justify-content: center;

    &-img {
      position: absolute;
      z-index: 3;
      margin-top: -115px;
    }

    &-close-icon {
      width: 24px;
      height: 24px;
      position: absolute;
      z-index: 3;
      margin: -90px 0 0 320px;
      cursor: pointer;
    }
  }

  &__container {
    position: relative;
    max-width: 600px;
    overflow: auto;
    background-color: colors.$color-white;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    z-index: 2;
    max-height: calc(100vh - 80px);
  }
}
