@use '../../../assets/styles/colors';
@use '../../../assets/styles/fonts';

.Event-summary {
  &__header {
    background-color: colors.$light-background;
    padding: 10px 24px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;

    &-home, &-away {
      display: flex;
      align-items: center;

      &--name {
        font-size: 1.125em;
        color: colors.$color-dark-purple;
        font-family: fonts.$font-medium;
        padding: 0 40px;
      }
    }

    &-score {
      display: flex;
      align-items: center;
      font-size: 1.25em;
      color: colors.$color-dark-purple;
      font-family: fonts.$font-medium;

      &--divider {
        padding: 0 10px;
      }
    }
  }

  &__content {
    margin: 25px 0;

    &-tab {
      &-category {
        padding: 0 12px;
        min-width: 120px;
        margin-right: 2px;

        &:first-child {
          border-top-left-radius: 4px;
        }

        &:last-child {
          border-top-right-radius: 4px;
        }
      }
    }

    &-section {
      padding: 10px 24px;
      background-color: colors.$color-white;
      min-height: calc(100vh - 380px);
    }
  }
}

.Summary-wrapper {
  &__content {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;

    &-box {
      margin-bottom: 10px;

      &-data {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
      }

      &-bar {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;

        &--home, &--away {
          &-signal {
            background-color: colors.$light-background !important;
            height: 10px !important;
          }
        }

        &--home {
          span {
            background-color: colors.$color-dark-purple;
          }
        }

        &--away {
          span {
            background-color: colors.$color-text;
          }
        }
      }
    }
  }
}
