@use '../../assets/styles/colors';
@use '../../assets/styles/fonts';

.Event-calender {
  .rbc-day-bg {
    cursor: pointer;
  }

  .rbc-month-view {
    background-color: colors.$color-white;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .rbc-month-header {
    background-color: colors.$light-background;
    height: 50px;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .rbc-header {
    border-bottom: none;
  }

  .rbc-header + .rbc-header {
    border-left: none;
  }

  .rbc-event, .rbc-day-slot .rbc-background-event, .rbc-event.rbc-selected, .rbc-day-slot .rbc-selected.rbc-background-event {
    background-color: colors.$color-dark-blue;
  }

  .rbc-today {
    background-color: colors.$light-background;
  }

}
