@use '../../assets/styles/colors';
@use '../../assets/styles/fonts';
@use '../../assets/styles/mixins';

.Home {
  background-color: colors.$color-background;
  min-height: 100vh;

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 40px 80px;

    @include mixins.mobile {
      padding: 20px 15px;
    }

    @include mixins.tablet {
      padding: 20px 25px;
    }

    &-nav {
      &--link {
        margin-left: 15px;
        font-size: 1.125em;
        color: colors.$color-dark-purple;
        padding: 3px 10px;
        text-decoration: none;

        @include mixins.mobile {
          font-size: 0.875em;
        }

        @include mixins.tablet {
          font-size: 1em;
        }
      }

      &--get-started {
        margin-left: 15px;
        background-color: colors.$color-dark-blue;
        color: colors.$color-white;
        text-decoration: none;
        border-radius: 15px;
        font-size: 1.125em;
        padding: 9px 36px;

        @include mixins.mobile {
          padding: 5px 10px;
          font-size: 0.875em;
        }

        @include mixins.tablet {
          font-size: 1em;
          padding: 8px 15px;
        }
      }
    }
  }

  &__hero {
    height: calc(100vh - 104px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 80px;
    width: 80%;

    @include mixins.mobile {
      height: calc(100vh - 62px);
      padding: 0 15px;
      width: 100%;
    }

    @include mixins.tablet {
      height: calc(100vh - 62px);
      padding: 0 25px;
      width: 100%;
    }

    &-title {
      font-family: fonts.$font-bold;
      color: colors.$color-dark-blue;
      font-size: 3.75em;
      text-align: center;
      padding: 10px 0;

      @include mixins.mobile {
        font-size: 1.5em;
      }

      @include mixins.tablet {
        font-size: 2.5em;
      }
    }

    &-text {
      font-size: 1.875em;
      text-align: center;
      width: 85%;
      color: colors.$color-dark-blue;

      @include mixins.mobile {
        font-size: 1em;
      }

      @include mixins.tablet {
        font-size: 1.5em;
      }
    }

    &-link {
      background-color: colors.$color-dark-blue;
      color: colors.$color-white;
      text-decoration: none;
      border-radius: 15px;
      font-size: 1.125em;
      padding: 9px 36px;
      margin: 45px 0;
    }
  }

  &__content {
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mixins.mobile {
      padding: 0 15px;
    }

    @include mixins.tablet {
      padding: 0 25px;
    }

    &-img {
      flex: 1;
      width: 100%;
    }

    &-sponsors {
      background-color: colors.$color-background;
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 15px;
      padding: 38px 35px;
      border-top: 1px solid colors.$color-border-line;

      @include mixins.mobile {
        padding: 20px 15px;
        flex-direction: column;
        align-items: center;
      }

      @include mixins.tablet {
        padding: 20px 25px;
      }

      img {
        width: 20%;

        @include mixins.mobile {
          margin-bottom: 10px;
          width: 50%;
        }

        @include mixins.tablet {
          margin-bottom: 10px;
          width: 20%;
        }
      }
    }
  }

  &__features {
    padding: 50px 80px;
    background-color: colors.$color-white;

    @include mixins.mobile {
      padding: 20px 15px;
    }

    @include mixins.tablet {
      padding: 20px 25px;
    }

    &-title {
      font-family: fonts.$font-bold;
      font-size: 1.125em;
      color: colors.$color-dark-purple;
      text-transform: capitalize;
      padding: 10px 0;

      @include mixins.mobile {
        font-size: 0.875em;
      }

      @include mixins.tablet {
        font-size: 1em;
      }
    }

    &-text {
      color: colors.$color-dark-purple;
      font-size: 1.75em;
      margin-bottom: 25px;

      @include mixins.mobile {
        font-size: 1.5em;
      }
    }

    &-list {
      display: flex;
      justify-content: space-between;

      @include mixins.mobile {
        flex-direction: column;
      }

      &--item {
        text-align: center;
        width: 285px;

        @include mixins.mobile {
          width: 100%;
          margin-bottom: 25px;
        }

        &-icon {
          width: 70px !important;
          height: 70px !important;
          color: colors.$color-dark-purple;

          @include mixins.mobile {
            width: 50px !important;
            height: 50px !important;
          }

          @include mixins.tablet {
            width: 50px !important;
            height: 50px !important;
          }
        }

        &-title {
          padding: 16px 0;
          color: colors.$color-dark-purple;
          font-family: fonts.$font-bold;
          font-size: 1.5em;

          @include mixins.mobile {
            padding: 0;
            font-size: 1.15em;
          }

          @include mixins.tablet {
            padding: 12px 0;
            font-size: 1.15em;
          }
        }

        &-text {
          color: colors.$color-grey;
          font-size: 1.25em;

          @include mixins.tablet {
            padding: 15px 0;
            font-size: 1em;
          }
        }
      }
    }
  }

  &__subscribe {
    background-color: colors.$color-background;
    padding: 70px 80px;

    @include mixins.mobile {
      padding: 20px 15px;
      flex-direction: column;
    }

    @include mixins.tablet {
      padding: 20px 25px;
    }

    &-overlay {
      background-color: colors.$color-black;
      background-image: url('../../assets/images/subscribe.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 15px;

      &-title {
        font-family: fonts.$font-bold;
        font-size: 2.5em;
        color: colors.$color-white;
        text-transform: capitalize;
        padding: 10px 0;

        @include mixins.mobile {
          font-size: 1.25em;
        }

        @include mixins.tablet {
          font-size: 2em;
        }
      }

      &-text {
        font-size: 1.125em;
        color: colors.$color-white;
        margin-bottom: 35px;
        text-align: center;
        width: 50%;

        @include mixins.mobile {
          padding: 0 10px;
          width: 100%;
        }

        @include mixins.tablet {
          padding: 0 10px;
          width: 70%;
        }
      }

      &-form {
        display: flex;
        width: 50%;

        @include mixins.mobile {
          width: 90%;
        }

        @include mixins.tablet {
          width: 70%;
        }

        &-input {
          height: 95px;
          width: 100%;
          padding: 0 15px;
          border: none;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
          font-size: 1.125em;
          outline: none;

          @include mixins.mobile {
            height: 40px;
            padding: 0 10px;
            font-size: 0.85em;
          }

          @include mixins.tablet {
            height: 70px;
            padding: 0 10px;
            font-size: 1em;
          }
        }

        &-btn {
          height: 95px;
          background-color: colors.$color-dark-blue;
          color: colors.$color-white;
          border: none;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
          font-size: 1.125em;
          cursor: pointer;
          padding: 0 44px;

          @include mixins.mobile {
            height: 40px;
            padding: 0 10px;
            font-size: 1em;
          }

          @include mixins.tablet {
            height: 70px;
            padding: 0 30px;
            font-size: 1em;
          }
        }
      }
    }
  }

  &__footer {
    background-color: colors.$color-dark-purple;
    padding: 0 80px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mixins.mobile {
      padding: 0 15px;
    }

    @include mixins.tablet {
      padding: 0 25px;
    }

    &-title {
      font-size: 1.25em;
      color: colors.$color-white;
      font-family: fonts.$font-bold;
    }

    &-list {
      display: inline-flex;
      list-style: none;
      color: colors.$color-white;
      padding: 0;
      margin: 40px 0;

      @include mixins.mobile {
        display: inline;
      }

      &-item {
        margin-right: 30px;

        @include mixins.mobile {
          margin-bottom: 10px;
        }

        a {
          text-decoration: none;
          color: colors.$color-white;
        }
      }
    }
  }
}
