$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-black-2: rgb(20, 20, 20);

$color-hero-background: rgba(18, 18, 24, 0.7);
$color-image-background: rgba(199, 201, 206, 0.28);

$color-dark: rgb(31, 35, 46);
$color-dark-purple: rgb(36, 0, 38);
$color-dark-purple-2: rgba(36, 0, 38, 0.07);

$color-grey: rgb(170, 172, 175);
$color-grey-text: rgb(140, 140, 140);
$color-text: rgb(61, 66, 82, 1);
$color-ash: rgb(170, 172, 175);

$color-border-line: rgba(230, 231, 236, 1);


$color-dark-blue: rgb(55, 0, 60);
$color-dark-blue2: rgb(36, 0, 38);
$color-dark-blue3: rgba(55, 0, 60, 0.24);
$color-dark-blue-shadow: rgba(55, 0, 60, 0.3);
$light-background: rgb(207, 194, 208);

$color-inactive: rgb(222, 194, 194);
$color-inactive-text: rgb(171, 9, 35);
$color-active: rgb(214, 230, 218);
$color-active-text: rgb(27, 114, 50);

$color-sub-text: rgb(117, 134, 156);
$color-text: rgb(102, 112, 133);


$color-background: rgb(243, 244, 252);
$color-background1: rgb(170, 172, 175);
$color-th-background: rgb(249, 250, 251);

$color-flat-grey1: rgb(229, 229, 229);
$color-flat-grey2: rgb(149, 149, 149);
$color-flat-grey3: rgb(212, 218, 231);

$color-element-hover: rgba(0, 0, 0, 0.04);

$color-green: rgb(1, 166, 111);
$color-red: rgb(255, 0, 0);
