@font-face {
  font-family: Nunito-Light;
  src: url('/src/assets/fonts/Nunito-Light.woff') format('woff');
}

@font-face {
  font-family: Nunito-Regular;
  src: url('/src/assets/fonts/Nunito-Regular.woff') format('woff');
}

@font-face {
  font-family: Nunito-Medium;
  src: url('/src/assets/fonts/Nunito-Medium.woff') format('woff');
}

@font-face {
  font-family: Nunito-Bold;
  src: url('/src/assets/fonts/Nunito-Bold.woff') format('woff');
}

$font-light: Nunito-Light, -apple-system, system-ui, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
$font-regular: Nunito-Regular, -apple-system, system-ui, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
$font-medium: Nunito-Medium, -apple-system, system-ui, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
$font-bold: Nunito-Bold, -apple-system, system-ui, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
